<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
      <h2>Contact TindHouse Support</h2>
      <p> Give us suggestions for new feature and report bugs, or to just say hello!</p>
      <p><a href="mailto:feedback@startbootstrap.com">support@tindhouse.dpunks.org</a>
      </p>
      <ul class="list-inline banner-social-buttons">
          <li>
              <a href="#" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
          </li>
          <li>
              <a href="#" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
          </li>
          <li>
              <a href="#" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
          </li>
      </ul>
 	</div>
</div>