    

    <!-- Intro Header -->
     

    <!-- About Section -->
    <section id="search" class="container content-section text-center">
        <div ng-include="'html/formCriteria.html'" ></div>
    </section>

    <!-- Download Section -->
    <section id="about" class="content-section text-center">
        <div ng-include="'html/about.html'"></div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div ng-include="'html/contactUs.html'" ></div>
    </section>
    <!-- Map Section -->
    <div id="map"></div>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Your Website 2014</p>
        </div>
    </footer>
